@model IEnumerable<MetaFormsBuilder.Domain.Entities.Form>

@{
    ViewBag.Title = "Forms";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<p>Listagem de Formulários</p>

<div>
    <a asp-action="AddEdit" asp-controller="Forms" class="btn btn-outline-secondary">Criar</a>
</div>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr id="item-@item.Id">
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Status</td>
            <td>
                <a class="btn btn-outline-success btn-sm"
                   asp-action="AddEdit" asp-controller="Forms"
                   asp-route-id="@item.Id">Editar</a>
                <button class="btn btn-outline-danger btn-sm" onclick="del(@item.Id, '@item.Name', 'Form', '@Url.Action("Excluir", "Forms")')">
                    Excluir
                </button>

                <a class="btn btn-outline-success btn-sm"
                   asp-action="Submit" asp-controller="FormProvider"
                   asp-route-id="@item.Id">Aplicar</a>

                <a class="btn btn-outline-dark btn-sm"
                   asp-action="List" asp-controller="Fields"
                   asp-route-formId="@item.Id">Campos</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<partial name="_delModal" />

@section scripts {
    <script src="~/js/forms/index.js"></script>
    <script src="~/js/list.js"></script>
}