@model FieldVm

<div class="mb-3">
    <label asp-for="@Model.Html" class="form-label"></label>
    <input asp-for="@Model.Html" class="form-control">
    <span asp-validation-for="@Model.Html" class="invalid"></span>
</div>
<div class="mb-3">
    <label asp-for="@Model.DisplayOrder" class="form-label"></label>
    <input asp-for="@Model.DisplayOrder" class="form-control">
    <span asp-validation-for="@Model.DisplayOrder" class="invalid"></span>
</div>

